<%-include('partials/header')-%>
<div class="content" style="margin:auto">
    <div class="card-header collapsed" id="accordion-5ebf37a036222-card-0"
        data-target="#accordion-5ebf37a036222-collapse-0" data-toggle="collapse" role="tab" aria-expanded="false" style="background-color:#5bc0de;">
        <button class="card-title btn btn-link" data-controls="accordion-5ebf37a036222-collapse-0"><span role="heading"
                aria-level="0" style="color:black;font-family: sans-serif;">What can I do to protect myself?
            </span></button>
    </div>
    <div aria-labelledby="accordion-5ebf37a036222-card-0" class="d-print-block collapse" collapsed=""
        id="accordion-5ebf37a036222-collapse-0" role="tabpanel" style="">
        <div class="card-body">
            Exactly how people become infected with this virus is not known at this time. However, some general measures that would be prudent and help prevent the acquisition of any respiratory illness are to avoid close contact, when possible, with anyone who shows symptoms of illness (coughing and sneezing), and to maintain good hand hygiene.
        </div>
    </div>

    

    <div class="card-header collapsed" id="accordion-5ebf37a036222-card-7"
        data-target="#accordion-5ebf37a036222-collapse-7" data-toggle="collapse" role="tab" aria-expanded="false" style="background-color:#5bc0de;">
        <button class="card-title btn btn-link" data-controls="accordion-5ebf37a036222-collapse-7"><span role="heading"
                aria-level="7" style="color:black;font-family: sans-serif;">What does it meant to self-isolate?</span></button></div>
    <div aria-labelledby="accordion-5ebf37a036222-card-7" class="d-print-block collapse" collapsed=""
        id="accordion-5ebf37a036222-collapse-7" role="tabpanel" style="">
        <div class="card-body">
            <p>Self-isolation is an important measure taken by those who have COVID-19 symptoms to avoid infecting others in the community, including family members.

                Self-isolation is when a person who is experiencing fever, cough or other COVID-19 symptoms stays at home and does not go to work, school or public places. This can be voluntarily or based on his/her health care provider’s recommendation. However, if you live in an area with malaria or dengue fever it is important that you do not ignore symptoms of fever. Seek medical help. When you attend the health facility wear a mask if possible, keep at least 1 metre distant from other people and do not touch surfaces with your hands. If it is a child who is sick help the child stick to this advice.
                
                If you do not live in an area with malaria or dengue fever please do the following:<br>
                
                &nbsp &nbsp -  If a person is in self-isolation, it is because he/she is ill but not severely ill (requiring medical attention)</p>
                <ul>
                    <li>have a large, well-ventilated with hand-hygiene and toilet facilities</li>
                    <li>If this is not possible, place beds at least 1 metre apart</li>
                    <li>Keep at least 1 metre from others, even from your family members</li>
                    <li>Monitor your symptoms daily
                    </li>
                    <li>Isolate for 14 days, even if you feel healthy
                    </li>
                    <li>If you develop difficulty breathing, contact your healthcare provider immediately – call them first if possible</li>
                    <li>Stay positive and energized by keeping in touch with loved ones by phone or online, and by exercising yourself at home.</li>
                </ul>

        </div>
    </div>

        <div class="card-header collapsed" id="accordion-5ebf37a03695f-card-8"
            data-target="#accordion-5ebf37a03695f-collapse-8" data-toggle="collapse" role="tab" aria-expanded="false" style="background-color:#5bc0de;">
            <button class="card-title btn btn-link" data-controls="accordion-5ebf37a03695f-collapse-8"><span
                    role="heading" aria-level="8"  style="color:black;font-family: sans-serif;">Does WHO recommend wearing Masks?</span></button></div>
        <div aria-labelledby="accordion-5ebf37a03695f-card-8" class="collapse d-print-block " collapsed=""
            id="accordion-5ebf37a03695f-collapse-8" role="tabpanel">
            <div class="card-body">
                <p>Currently, there is not enough evidence for or against the use of masks (medical or other) in healthy individuals in the wider community. However, WHO is actively studying the rapidly evolving science on masks and continuously updates its guidance.<br><br><br>

                    <b>Medical masks </b>are recommended primarily in health care settings, but can be considered in other circumstances (see below). Medical masks should be combined with other key infection prevention and control measures such as hand hygiene and physical distancing.
                    <br><br><br>
                    &nbsp&nbsp
                    <b>Healthcare workers<br>
                    Why?</b> Medical masks and respirators such as N95, FFP2 or equivalent are recommended for and should be reserved for, healthcare workers while giving care to patients. Close contact with people with suspected or confirmed COVID-19 and their surrounding environment are the main routes of transmission, which means healthcare workers are the most exposed.<br><br><br>
                    
                    &nbsp &nbsp<b>People who are sick and exhibiting symptoms of COVID-19<br>
                    Why?</b> Anyone who is sick, with mild symptoms such as muscle aches, slight cough, sore throat or fatigue, should isolate at home and use a medical mask according to WHO’s recommendation on home care of patients with suspected COVID-19. Coughing, sneezing or talking can generate droplets that cause can spread the infection. These droplets can reach the face of others nearby and land on the surrounding environment. If an infected person coughs, sneezes, or talks while wearing a medical mask, this can help to protect those nearby from infection. If a sick person needs to go to a health facility they should wear a medical mask.<br><br>
                    
                    
            </div>
        </div>
        <div class="card-header collapsed" id="accordion-5ebf37a036222-card-6"
        data-target="#accordion-5ebf37a036222-collapse-6" data-toggle="collapse" role="tab" aria-expanded="false"style="background-color:#5bc0de;">
        <button class="card-title btn btn-link" data-controls="accordion-5ebf37a036222-collapse-6"><span role="heading"
                aria-level="6" style="color:black;font-family: sans-serif;" ;">Can wearing a mask protect you against coronavirus?</span></button></div>
    <div aria-labelledby="accordion-5ebf37a036222-card-6" class="d-print-block collapse" collapsed=""
        id="accordion-5ebf37a036222-collapse-6" role="tabpanel" style="">
        <div class="card-body">
            <p>
                <ul>
                    <li>Before putting on a mask, clean hands with alcohol-based hand rub or soap and water.</li>
                    <li>Cover mouth and nose with mask and make sure there are no gaps between your face and the mask.</li>
                    <li>Avoid touching the mask while using it; if you do, clean your hands with alcohol-based hand rub or soap and water.</li>
                    <li>Replace the mask with a new one as soon as it is damp and do not re-use single-use masks.</li>

                </ul>
            </p>
        </div>
    </div>
    
</div>

<footer class="bd-footer text-muted" style="margin-top:100px; background-color:cornflowerblue">
    <div class="container-fluid p-3 p-md-5">
      <p style="color: aliceblue;">Disclaimer : I dont have any copyrights for the content.Please note that the information provided here are only for informational purpose to spread awareness.I sincerely thank WHO here for creating these content.
      <p style="color: aliceblue;">Visit WHO's Official website to know more<br>
        <svg class="bi bi-link-45deg" width="1em" height="1em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.715 6.542L3.343 7.914a3 3 0 104.243 4.243l1.828-1.829A3 3 0 008.586 5.5L8 6.086a1.001 1.001 0 00-.154.199 2 2 0 01.861 3.337L6.88 11.45a2 2 0 11-2.83-2.83l.793-.792a4.018 4.018 0 01-.128-1.287z"/>
            <path d="M5.712 6.96l.167-.167a1.99 1.99 0 01.896-.518 1.99 1.99 0 01.518-.896l.167-.167A3.004 3.004 0 006 5.499c-.22.46-.316.963-.288 1.46z"/>
            <path d="M6.586 4.672A3 3 0 007.414 9.5l.775-.776a2 2 0 01-.896-3.346L9.12 3.55a2 2 0 012.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 00-4.243-4.243L6.586 4.672z"/>
            <path d="M10 9.5a2.99 2.99 0 00.288-1.46l-.167.167a1.99 1.99 0 01-.896.518 1.99 1.99 0 01-.518.896l-.167.167A3.004 3.004 0 0010 9.501z"/>
          </svg><a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" style="color:aliceblue">WHO Covid-19 Site</a></p>
    </div>
  </footer>
</div><br><br>
<hr class="container md-5 w-75" style="border: 10px solid #ccdefe;border-radius: 5px;">
<br><br>
<div class="cont" style="text-align: center;">
  <ul class="contact" style="display: inline-block;
  margin: 0 auto;
  padding-left: 0; list-style: none;">
  <li style="text-align: left;" style="display: inline-block;
  list-style-type: none;
  margin: 0 1em;
  text-align: center;">
    <p style="text-align: center;"><i class="fa fa-wrench fa-3x" style="display: inline-block;
        opacity: 0.7;"></i></p>
    <p style="text-align: center;"><strong>Developed By</strong></br>Hari Haran</p>
  </li>
    <li style="text-align: left;" style="display: inline-block;
    list-style-type: none;
    margin: 0 1em;
    text-align: center;">
      <p style="text-align: center;"><i class="fa fa-envelope fa-3x" style="display: inline-block;
          opacity: 0.7;"></i></p>
      <p style="text-align: center;"><strong>Email</strong></br>e.hari.haran.98@gmail.com</p>
    </li>
  </ul>
</div>
<hr class="container md-5 w-75" style="border: 10px solid #ccdefe;border-radius: 5px;">
  
<%-include('partials/footer')-%>