<%-include('partials/header')-%>
<div class="content" style="margin:auto">
    <div class="card-header collapsed" id="accordion-5ebf37a036222-card-0"
        data-target="#accordion-5ebf37a036222-collapse-0" data-toggle="collapse" role="tab" aria-expanded="false" style="background-color:#5bc0de;">
        <button class="card-title btn btn-link" data-controls="accordion-5ebf37a036222-collapse-0"><span role="heading"
                aria-level="0" style="color:black;font-family: sans-serif;">What is a novel coronavirus? </span></button>
                  
    </div>
    <div aria-labelledby="accordion-5ebf37a036222-card-0" class="d-print-block collapse" collapsed=""
        id="accordion-5ebf37a036222-collapse-0" role="tabpanel" style="">
        <div class="card-body">
            <p>A novel coronavirus is a new coronavirus that has not been previously identified. The virus causing
                coronavirus disease 2019 (COVID-19), is not the same as the&nbsp;<a
                    href="https://www.cdc.gov/coronavirus/types.html">coronaviruses that commonly circulate among
                    humans</a>&nbsp;and cause mild illness, like the common cold.</p>
            <p>A diagnosis with coronavirus 229E, NL63, OC43, or HKU1 is not the same as a COVID-19 diagnosis. Patients
                with COVID-19 will be evaluated and cared for differently than patients with common coronavirus
                diagnosis.</p>
        </div>
    </div>

    <div class="card-header collapsed" id="accordion-5ebf37a036222-card-6"
        data-target="#accordion-5ebf37a036222-collapse-6" data-toggle="collapse" role="tab" aria-expanded="false"style="background-color:#5bc0de;">
        <button class="card-title btn btn-link" data-controls="accordion-5ebf37a036222-collapse-6"><span role="heading"
                aria-level="6" style="color:black;font-family: sans-serif;" ;">Why do the number of cases
                increase?</span></button></div>
    <div aria-labelledby="accordion-5ebf37a036222-card-6" class="d-print-block collapse" collapsed=""
        id="accordion-5ebf37a036222-collapse-6" role="tabpanel" style="">
        <div class="card-body">
            <p>Delays in reporting can cause the number of COVID-19 cases reported on previous days to increase.
                (Sometimes this effect is described as “backfill.”) State, local, and territorial health departments
                report the number of cases that have been confirmed and share these data with CDC. Since it takes time
                to conduct laboratory testing, cases from a previous day may be added to the daily counts a few days
                late.</p>
        </div>
    </div>

    <div class="card-header collapsed" id="accordion-5ebf37a036222-card-7"
        data-target="#accordion-5ebf37a036222-collapse-7" data-toggle="collapse" role="tab" aria-expanded="false" style="background-color:#5bc0de;">
        <button class="card-title btn btn-link" data-controls="accordion-5ebf37a036222-collapse-7"><span role="heading"
                aria-level="7" style="color:black;font-family: sans-serif;">COVID-19 and
                Hypertension</span></button></div>
    <div aria-labelledby="accordion-5ebf37a036222-card-7" class="d-print-block collapse" collapsed=""
        id="accordion-5ebf37a036222-collapse-7" role="tabpanel" style="">
        <div class="card-body">
            <p><em>Are people with high blood pressure (hypertension) at higher risk from COVID-19?</em></p>
            <p>At this time, we do not think that people with high blood pressure and no other underlying health
                conditions
                are more likely than others to get severely ill from COVID-19. Although many people who have gotten
                severely
                ill from COVID-19 have high blood pressure, they are often older or have other medical conditions like
                obesity, diabetes, and serious heart conditions that place them at higher risk of severe illness from
                COVID-19.</p>
            <p>If you have high blood pressure, it’s critically important that you keep your blood pressure under
                control to
                lower your risk for heart disease and strokes. Take your blood pressure&nbsp;medications&nbsp;as
                directed,
                keep a log of your blood pressure every day if you are able to take your blood pressure at home, and
                work
                with your healthcare team to make sure your blood pressure is well controlled. Any changes to your
                medications should be made in consultation with your healthcare team.</p>
            <p><em>Should I continue to take my blood pressure medication?</em></p>
            <p>Yes. Continue to take your blood pressure medications exactly as prescribed and make lifestyle
                modifications
                agreed upon in your treatment plan. Continue all your regular medications, including
                angiotensin-converting
                enzyme inhibitors (ACE-Is) or angiotensin receptor blockers (ARBs), as prescribed by your healthcare
                team.
                This is recommended by <a
                    href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/faq.html#Drugs-and-Investigational-Therapies">current
                    clinical guidelines</a> from the American Heart Association, the Heart Failure Society of America,
                and
                the American College of Cardiology</p>
        </div>
    </div>

    <div class="card-header collapsed" id="accordion-5ebf37a03695f-card-0"
        data-target="#accordion-5ebf37a03695f-collapse-0" data-toggle="collapse" role="tab" aria-expanded="false" style="background-color:#5bc0de;">
        <button class="card-title btn btn-link" data-controls="accordion-5ebf37a03695f-collapse-0"><span role="heading"
                aria-level="0" style="color:black;font-family: sans-serif;">What is the source of the
                virus?</span></button></div>
    <div aria-labelledby="accordion-5ebf37a03695f-card-0" class="collapse d-print-block " collapsed=""
        id="accordion-5ebf37a03695f-collapse-0" role="tabpanel">
        <div class="card-body">
            <p>COVID-19 is caused by a coronavirus called SARS-CoV-2. Coronaviruses are a large family of viruses
                that are common in people and may different species of animals, including camels, cattle, cats, and
                bats. &nbsp;Rarely, animal coronaviruses can infect people and then spread between people. This
                occurred with <a href="/coronavirus/mers/index.html">MERS-CoV</a> and <a
                    href="/sars/index.html">SARS-CoV</a>, and now with the virus that causes COVID-19. The
                SARS-CoV-2 virus is a betacoronavirus, like MERS-CoV and SARS-CoV. All three of these viruses have
                their origins in bats. The sequences from U.S. patients are similar to the one that China initially
                posted, suggesting a likely single, recent emergence of this virus from an animal reservoir.
                However, the exact source of this virus is unknown.</p>
            <p>More information about the source and spread of COVID-19 is available on the <a
                    href="/coronavirus/2019-ncov/cases-updates/summary.html#emergence">Situation Summary: Source and
                    Spread of the Virus</a>.</p>
        </div>
    </div>
    
        <div class="card-header collapsed" id="accordion-5ebf37a03695f-card-8"
            data-target="#accordion-5ebf37a03695f-collapse-8" data-toggle="collapse" role="tab" aria-expanded="false" style="background-color:#5bc0de;">
            <button class="card-title btn btn-link" data-controls="accordion-5ebf37a03695f-collapse-8"><span
                    role="heading" aria-level="8"  style="color:black;font-family: sans-serif;">What is community spread?</span></button></div>
        <div aria-labelledby="accordion-5ebf37a03695f-card-8" class="collapse d-print-block " collapsed=""
            id="accordion-5ebf37a03695f-collapse-8" role="tabpanel">
            <div class="card-body">
                <p>Community spread means people have been infected with the virus in an area, including some who are
                    not sure how or where they became infected.</p>
            </div>
        </div>
    
</div>



<footer class="bd-footer text-muted" style="margin-top:100px; background-color:cornflowerblue">
    <div class="container-fluid p-3 p-md-5">
      <p style="color: aliceblue;">Disclaimer : I dont have any copyrights for the content.Please note that the information provided here are only for informational purpose to spread awareness.I sincerely thank CDC here for creating these content.
      <p style="color: aliceblue;">Visit CDC's Official website to know more<br>
        <svg class="bi bi-link-45deg" width="1em" height="1em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.715 6.542L3.343 7.914a3 3 0 104.243 4.243l1.828-1.829A3 3 0 008.586 5.5L8 6.086a1.001 1.001 0 00-.154.199 2 2 0 01.861 3.337L6.88 11.45a2 2 0 11-2.83-2.83l.793-.792a4.018 4.018 0 01-.128-1.287z"/>
            <path d="M5.712 6.96l.167-.167a1.99 1.99 0 01.896-.518 1.99 1.99 0 01.518-.896l.167-.167A3.004 3.004 0 006 5.499c-.22.46-.316.963-.288 1.46z"/>
            <path d="M6.586 4.672A3 3 0 007.414 9.5l.775-.776a2 2 0 01-.896-3.346L9.12 3.55a2 2 0 012.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 00-4.243-4.243L6.586 4.672z"/>
            <path d="M10 9.5a2.99 2.99 0 00.288-1.46l-.167.167a1.99 1.99 0 01-.896.518 1.99 1.99 0 01-.518.896l-.167.167A3.004 3.004 0 0010 9.501z"/>
          </svg><a href="https://www.cdc.gov/coronavirus/2019-ncov/faq.html#Coronavirus-Disease-2019-Basics" style="color:aliceblue">CDC Covid-19 Site</a></p>
    </div>
  </footer>
  <br>
  <br>
  <hr class="container md-5 w-75" style="border: 10px solid #ccdefe;border-radius: 5px;">
  <br><br>
  <div class="cont" style="text-align: center;">
    <ul class="contact" style="display: inline-block;
    margin: 0 auto;
    padding-left: 0; list-style: none;">
    <li style="text-align: left;" style="display: inline-block;
    list-style-type: none;
    margin: 0 1em;
    text-align: center;">
      <p style="text-align: center;"><i class="fa fa-wrench fa-3x" style="display: inline-block;
          opacity: 0.7;"></i></p>
      <p style="text-align: center;"><strong>Developed By</strong></br>Hari Haran</p>
    </li>
      <li style="text-align: left;" style="display: inline-block;
      list-style-type: none;
      margin: 0 1em;
      text-align: center;">
        <p style="text-align: center;"><i class="fa fa-envelope fa-3x" style="display: inline-block;
            opacity: 0.7;"></i></p>
        <p style="text-align: center;"><strong>Email</strong></br>e.hari.haran.98@gmail.com</p>
      </li>
    </ul>
  </div>
  <hr class="container md-5 w-75" style="border: 10px solid #ccdefe;border-radius: 5px;">


  
  
</div>
<%-include('partials/footer')-%>